node_modules
dist
.env
.env.local
.env.*.local
.DS_Store
*.log
*.tmp
.idea
.vscode
*.swp
*.swo
*~
.tsbuildinfo
coverage
.jest
.nyc_output
prisma/migrations

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
